# SQL Recap Exercise Solutions

## Exercise 1

Get all songs (`Track`) by **Queen** (`Artist`)

### Solution

```
SHOW DATABASES;
```

```
USE Chinook;
```

```
SHOW TABLES;
```

```
SELECT * FROM Artist LIMIT 10;
```

```
SELECT * FROM Artist WHERE Name LIKE 'QUEEN';
```

```
SELECT * FROM Track LIMIT 10;
```

```
SELECT * FROM Album LIMIT 10;
```

```
SELECT * FROM Track T
JOIN Album A
ON T.AlbumId = A.AlbumId
WHERE A.ArtistId=51;
```

## Exercise 2

Get the top 5 playlists (`Playlist`) with the most number of songs (`Track`)

### Solution

```
mysql> SELECT PlaylistId, COUNT(TrackId) FROM PlaylistTrack GROUP BY 1 ORDER BY 2 DESC LIMIT 5;
+------------+----------------+
| PlaylistId | COUNT(TrackId) |
+------------+----------------+
|          8 |           3290 |
|          1 |           3290 |
|          5 |           1477 |
|          3 |            213 |
|         10 |            213 |
+------------+----------------+
5 rows in set (0.01 sec)
```

## Exercise 3

Get all artists (`Artist`) that haven't released any albums (`Album`)

### Solution

```
mysql> SELECT * FROM Artist A 
LEFT JOIN Album L 
ON A.ArtistId = L.ArtistID 
WHERE L.ArtistId IS NULL;


+----------+----------------------------+---------+-------+----------+
| ArtistId | Name                       | AlbumId | Title | ArtistId |
+----------+----------------------------+---------+-------+----------+
|       25 | Milton Nascimento & Bebeto |    NULL | NULL  |     NULL |
|       26 | Azymuth                    |    NULL | NULL  |     NULL |
|       28 | Jo?o Gilberto              |    NULL | NULL  |     NULL |
|       29 | Bebel Gilberto             |    NULL | NULL  |     NULL |
|       30 | Jorge Vercilo              |    NULL | NULL  |     NULL |
...
...
```

## Extra Exercise

Get all customer information of customers (`Customer`) that were invoiced (`Invoice`) in the year 2011

### Solution

```
SELECT * FROM Customer;
```

```
SELECT * FROM Invoice;
```

```
DESCRIBE Invoice;
```


```
SELECT C.* 
FROM Customer C 
JOIN Invoice I 
ON C.CustomerId = I.CustomerId 
WHERE YEAR(I.InvoiceDate) = 2011;
```